@media screen and (max-width: 450px){
	.barraSuperior{
		height: 50px; 
		width: 100%;
		padding-top: 10px; 
		background-color: #FF9A19;  
	}

	h3{
		margin:0;
		text-align: center;
		color: white;
	}
	.buscadorComuna{
		height: 60px; 
	}

	.buscador{
		border: 1px solid #FF9A19; 
		border-radius: 10px;
		height: 35px;
		width: 94%;
		margin: 3%;
		padding-left:10px; 
	}

	.buscador:focus{
		outline: none; 
	}

	.buscador::placeholder{
		padding-left: 10px;
	}

	h4{
		text-align: center;
	}

	.barraFavoritos{
		background-color: #FDC300; 
		color: white; 
	}

	.borderRightVisible{
		border-right: 1px solid #fff;
	}

	.img-station{
		height: 60px; 
		width: 60px; 
		border-radius: 50%;
		border:2px solid gray;
		margin-top: 15px; 
	}

	.col-info{
		padding-left: 20px; 
	}

	.cont-info-station{
		height: 110px;
		border-bottom: 1px solid gray;
	}
}
